/* fonts */
@font-face {
  font-family: markpro;
  src: url(/fonts/markpro.otf);
}
@font-face {
  font-family: markprobold;
  src: url(/fonts/markpro-book.otf);
}
/* sitewide css */
body {
  background-color: #fafafa;
}
.page-header {
  padding-bottom: 20px;
  text-transform: uppercase;
}
.panel-header {
  padding-bottom: 20px;
}
.panel-padding {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
/* navigation */
nav {
  text-transform: uppercase;
  font-family: markprobold;
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #6198d0;
}
nav, .nav, .navbar {
  background-color: white;
}
.navbar .navbar-brand {
  padding-top: 8px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
nav .name {
  text-transform: capitalize;
}
nav .dropdown-menu {
  text-transform: capitalize;
}
/* manage projects page */
#manage-projects-page #filter > .row {
  padding: 30px 0 30px 0;
  margin-top: -20px;
}
#manage-projects-page #sort {
  padding-left: 20px;
}
#manage-projects-page #projects-table .panel-body > .row {
  padding: 10px 10px 10px 10px;
}
#manage-projects-page #projects-table .overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 149, 237, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
#manage-projects-page #projects-table .overlay .edit {
  border-color: white;
}
/* edit project page */
#edit-project-page #project-info ul {
  list-style: none;
  font-size: 200%;
}
#edit-project-page #investor-info {
  margin-bottom: 50px;
}
#edit-project-page #investor-info img {
  margin-bottom: 20px;
}
/* verify investor page */
#verify-investor-page #results-table td {
  vertical-align: middle;
}
/* footer */
.footer {
  margin-top:50px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container .text-muted {
  margin: 20px 0;
  text-align: center;
}
