/* fonts */
@font-face {
  font-family: markpro;
  src: url(/fonts/markpro.otf);
}
@font-face {
  font-family: markprobold;
  src: url(/fonts/markpro-book.otf);
}
/* sitewide css */
body {
  background-color: #fafafa;
}
.btn {
  border-radius: 0;
}
.page-header {
  padding-bottom: 20px;
  text-transform: uppercase;
}
.panel-header {
  padding-bottom: 20px;
}
.panel-padding {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
/* navigation */
nav {
  text-transform: uppercase;
  font-family: markprobold;
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #6198d0;
}
nav, .nav, .navbar {
  background-color: white;
}
.navbar .navbar-brand {
  padding-top: 8px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
nav .name {
  text-transform: capitalize;
}
nav .dropdown-menu {
  text-transform: capitalize;
}
/* manage projects page */
#manage-projects-page #filter > .row {
  padding: 30px 0 30px 0;
  margin-top: -20px;
}
#manage-projects-page #sort {
  padding-left: 20px;
}
#manage-projects-page #projects-table .panel-body > .row {
  padding: 10px 10px 10px 10px;
}
#manage-projects-page #projects-table .overlay {
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  width: 92%;
  height: 95%;
  background-color: rgba(54, 71, 88, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
}
#manage-projects-page #projects-table .overlay .edit {
  border-color: white;
  color: white;
  background-color: transparent;
}
#manage-projects-page #projects-table article img {
  display: block;
  margin: 0 auto;
}
/* edit project page */
#edit-project-page #project-info ul {
  list-style: none;
  font-size: 200%;
}
#edit-project-page #investor-info {
  margin-bottom: 50px;
}
#edit-project-page #investor-info img {
  margin-bottom: 20px;
}
/* verify investor page */
#verify-investor-page #results-table td {
  vertical-align: middle;
}
/* dashboard page */
#dashboard * {
  border-width: thin;
  border-color: lightgray;
}
#dashboard a {
  text-decoration: none;
  color: #4e90cd;
}
#dashboard .row {
  background-color: white;
}
#dashboard .top {
  padding: 30px 50px;
}
#dashboard .info {
  padding-top: 50px;
}
#dashboard .details {
  font-size: 130%;
}
#dashboard .details .row {
  padding: 20px 40px;
}
#dashboard .bottom {
  font-size: 110%;
  text-align: center;
}
#dashboard .bottom [class^='col-'] {
  padding: 30px 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: -5px 10px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* footer */
.footer {
  margin-top:50px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container .text-muted {
  margin: 20px 0;
  text-align: center;
}
